* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


li{
  list-style: none;
}

a{
  text-decoration: none;
}


/*///////////////////////////////////////////////////////////////////////////
navbar//////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////*/

#navbar{
  position: fixed;
  background-color: black;
  width: 100%;

}

#navbar a{
  color: white;
  text-decoration: none;
  display: block;
  padding: 5vh;
}

#navbar li{
  display: inline-block;
  float: right;
  font-size: 18px;


}

#navlink_one:hover{
  color: black;
  background-color: #00ff00;
}

#navlink_two:hover{
  color: black;
  background-color: yellow;
}

#navlink_three:hover{
  color: black;
  background-color: #ff0000;
}

/*///////////////////////////////////////////////////////////////////////////
Welcome Section///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////*/

#welcome-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #00001a;
}

#welcome-section h1{
  color: white;
  font-size: 60px;
}

#welcome-section p{
  color: #ff0000;
  font-size: 40px;
}

/*///////////////////////////////////////////////////////////////////////////
Project Section///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////*/

#projects{
  background-color: #808080;
  text-align: center;
  padding: 0px 1rem 60px 1rem;

}

#projects h2{
  display: flex;
  justify-content: center;
  padding-top: 15vh;
  font-size: 55px;
  color: white;
}

.project-grid{
  padding: 10vh 0;
  display: grid;
  grid-template-columns:   repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 3rem;
}

.project-tile img{
  width: 100%
}

.project-tile p{
  background: black;
  padding: 20px 0px;
  color: white;
}

.tile-one:hover{
  background-color: #ff0000;
  color: black;
  font-weight: bold;

}

.tile-two:hover{
  background-color: yellow;
  color: black;
  font-weight: bold;

}
.tile-three:hover{
  background-color: #00ff00;
  color: black;
  font-weight: bold;

}
.tile-four:hover{
  background-color: blue;
  color: black;
  font-weight: bold;

}
.tile-five:hover{
  background-color: purple;
  color: black;
  font-weight: bold;
}
.tile-six:hover{
  background-color: orange;
  color: black;
  font-weight: bold;
}


/*///////////////////////////////////////////////////////////////////////////
Button///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////*/


.btn1{
  display: inline-block;
  background-color: black;
  padding: 20px;
  color: white;
  border: 4px solid white;
}

.btn1:hover{
  color: yellow;
  border: 4px solid yellow;

}

/*///////////////////////////////////////////////////////////////////////////
Social///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////*/

#social{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-color: #5280e9;
}

#profiles {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 5rem;
  flex-wrap: wrap;
}

#profiles a{
    padding: 1rem 2rem;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.fa {
  padding: 20px;
}

#profile-link:hover{
    color: orange;
    font-size: 30px;
}

#linkedin:hover{
    color: blue;
    font-size: 30px;
}

#email:hover{
    color: #ff0000;
    font-size: 30px;
}
#phone:hover{
    color: purple;
    font-size: 30px;
}

/*///////////////////////////////////////////////////////////////////////////
Footer///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////*/

footer{
  border-top: 4px solid #ff0000;
  background: #5280e9;
  display: flex;
  justify-content: space-between;
  padding: 5vh 0px;

}

#message{
 font-weight: bold;
 font-size: 20px;
}

#copyright{
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 1100px){
  #welcome-section h1{
    color: yellow;
    ]
